In [1]:
%load_ext sql

In [15]:
from pathlib import Path
from urllib.request import urlretrieve

if not Path("penguins.csv").is_file():
    urlretrieve(
        "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv",
        "penguins.csv",
    )

In [2]:
%sql duckdb://

Connecting to 'duckdb://'

In [ ]:
%sql sqlite://

Connecting and switching to connection 'sqlite:///penguins.csv'

In [3]:
%sql SELECT * FROM penguins.csv LIMIT 3

Running query in 'duckdb://'

+---------+-----------+----------------+---------------+-------------------+-------------+--------+
| species |   island  | bill_length_mm | bill_depth_mm | flipper_length_mm | body_mass_g |  sex   |
+---------+-----------+----------------+---------------+-------------------+-------------+--------+
|  Adelie | Torgersen |      39.1      |      18.7     |        181        |     3750    |  MALE  |
|  Adelie | Torgersen |      39.5      |      17.4     |        186        |     3800    | FEMALE |
|  Adelie | Torgersen |      40.3      |      18.0     |        195        |     3250    | FEMALE |
+---------+-----------+----------------+---------------+-------------------+-------------+--------+